---
// src/pages/index.astro
import Layout from "../../layouts/LMIlayout.astro";
---

<Layout title="Kontak LMI | Mitra Pengadaan Seragam No 1 di Indonesia">

    <div class="site-preloader-wrap">
        <div class="spinner"></div>
    </div>
    <!-- start -->

    <section class="page-header padding">
        <div class="container">
            <div class="page-content text-center">
                <h2>Portofolio</h2>
                <p>Kumpulan project terbaik kami</p>
            </div>
        </div>
    </section><!-- /.page-header -->

    <section class="project-section bg-grey padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 padding-15 project-item">
                    <div class="project-inner">
                        <img src="/assets/img/1.png" alt="img">
                        <h3><a href="#"><span>Almamater</span>Seragam Kuliah</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 padding-15 project-item">
                    <div class="project-inner">
                        <img src="/assets/img/2.png" alt="img">
                        <h3><a href="#"><span>Baju Olahraga</span>Seragam Sekolah</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 padding-15 project-item">
                    <div class="project-inner">
                        <img src="/assets/img/3.png" alt="img">
                        <h3><a href="#"><span>Medical Scrub</span>Seragam Medis</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 padding-15 project-item">
                    <div class="project-inner">
                        <img src="/assets/img/4.png" alt="img">
                        <h3><a href="#"><span>Kemeja PDL</span>Seragam Kerja</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.project-section -->

    <section class="cta-section cta-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="cta-content">
                        <h2>
                           Siap temukan baju custom impianmu?
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <a href="https://api.whatsapp.com/send?phone=6281290279222&text=Hallo%20kak%20saya%20%5Bnama%5D%20ingin%20pesan%20baju%20costum%20di%20LMI%2C%20bisakah%20berikan%20saya%20info%20nya%3F" class="default-btn"
                        >Ajukan Penawaran<span></span></a
                    >
                </div>
            </div>
        </div>
    </section><!-- /.cta-section -->

    <section class="project-section bg-grey padding">
        <div class="container-fluid">
            <div
                class="section-heading text-center mb-40 wow fadeInUp"
                data-wow-delay="200ms"
            >
                <img src="/assets/img/clean.png" alt="" />
                <h2>Lebih dari Sekadar Jahitan</h2>
                <p>
                    Kami tidak hanya menjahit pakaian—kami menjahit kenyamanan,
                    kepercayaan diri, dan pengalaman terbaik untuk Anda.
                </p>
            </div>
            <div class="slider project-carousel nav-style carousel-dots">
                <div class="project-item">
                    <div class="project-inner">
                        <img src="/assets/img/1.png" alt="img" />
                        <h3>
                            <a href="#"><span>Almamater</span>Seragam Kuliah</a>
                        </h3>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-inner">
                        <img src="/assets/img/2.png" alt="img" />
                        <h3>
                            <a href="#"
                                ><span>Baju Olahraga</span>Seragam Sekolah</a
                            >
                        </h3>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-inner">
                        <img src="/assets/img/3.png" alt="img" />
                        <h3>
                            <a href="#"
                                ><span>Medical Scrub</span>Seragam Medis</a
                            >
                        </h3>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-inner">
                        <img src="/assets/img/4.png" alt="img" />
                        <h3>
                            <a href="#"><span>Kemeja PDL</span>Seragam Kerja</a>
                        </h3>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-inner">
                        <img src="/assets/img/5.png" alt="img" />
                        <h3>
                            <a href="#"
                                ><span>Baju Waiter</span>Seragam Restoran</a
                            >
                        </h3>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-inner">
                        <img src="/assets/img/6.png" alt="img" />
                        <h3>
                            <a href="#"
                                ><span>Hotel Uniform</span>Seragam Hotel</a
                            >
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>