<section class="book-section padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 sm-padding wow fadeInLeft" data-wow-delay="200ms">
        <div class="section-heading mb-20">
          <h2>LMI: Paling Banyak Meraih Penghargaan Sejak 2011</h2>
          <p>
            PT Lamonte Mode Internasional adalah pemasok pakaian anak terkemuka
            di Indonesia, menghadirkan koleksi trendi dengan harga terjangkau.<br
            />Kami bangga menjadi trendsetter di industri fashion anak dan
            memahami kebutuhan pasar dengan baik. Dengan komitmen tinggi
            terhadap kualitas dan pelayanan, kami terus mendukung mitra dan
            pelanggan dalam mengembangkan bisnis mereka.
          </p>
          <a href="#" class="learn-more"
            >Pelajari lebih lanjut tentang perusahaan</a
          >
        </div>
      </div>
      <div class="col-lg-6 sm-padding wow fadeInUp" data-wow-delay="300ms">
        <div class="konsultasi-container">
          <div class="form-heading">
            <h2>Mulai Konsultasi</h2>
            <p>Konsultasi Gratis Langsung Dengan Customer Service LMI</p>
          </div>

          <form id="consultation-form" class="form-horizontal">
            <div class="form-group colum-row row">
              <div class="col-sm-12">
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Nama Lengkap"
                  required
                  minlength="5"
                  title="Nama hanya boleh berisi huruf dan spasi, minimal 5 karakter."
                />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <input
                  type="tel"
                  id="wa"
                  name="wa"
                  class="form-control"
                  placeholder="Nomor WhatsApp (contoh: 08123456789)"
                  title="Nomor harus diawali 08 (total 10-13 digit) atau 628 (total 10-13 digit)."
                />
              </div>
            </div>
            <button id="submit" class="custom-btn" type="submit">
              Kirim
              <span></span>
            </button>
            <div
              id="form-messages"
              class="alert"
              role="alert"
              style="margin-top: 15px;"
            >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.book-section -->
