<section class="team-section bg-grey padding">
  <div class="container">
    <div
      class="section-heading wow fadeInUp mb-40 text-center"
      data-wow-delay="200ms"
    >
      <img src="assets/img/clean.png" alt="img" />
      <h2>Klien Kami</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 padding-15">
        <div class="team-item">
          <div class="team-thumb">
            <img src="assets/img/klien1.png" alt="img" />
            <svg viewBox="0 0 1920 479.1">
              <path
                class="st0"
                fill="#fff"
                d="M1562.5,260.9c-284.2,92.3-282.6,324-778.9,108.7C304.8,161.9,19.5,335.7,0,348.3v120.8v10h1920v-10V0
                                    C1715.4,15.3,1846.7,168.6,1562.5,260.9z"
              ></path>
            </svg>
          </div>
          <div class="team-content">
            <h3>Seragam Kerja<span>PT Bank Central Asia</span></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 padding-15">
        <div class="team-item">
          <div class="team-thumb">
            <img src="assets/img/klien2.png" alt="img" />
            <svg viewBox="0 0 1920 479.1">
              <path
                class="st0"
                fill="#fff"
                d="M1562.5,260.9c-284.2,92.3-282.6,324-778.9,108.7C304.8,161.9,19.5,335.7,0,348.3v120.8v10h1920v-10V0
                                    C1715.4,15.3,1846.7,168.6,1562.5,260.9z"
              ></path>
            </svg>
          </div>
          <div class="team-content">
            <h3>Seragam Kerja<span>Agung Sedayu Group</span></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 padding-15">
        <div class="team-item">
          <div class="team-thumb">
            <img src="assets/img/klien4.png" alt="img" />
            <svg viewBox="0 0 1920 479.1">
              <path
                class="st0"
                fill="#fff"
                d="M1562.5,260.9c-284.2,92.3-282.6,324-778.9,108.7C304.8,161.9,19.5,335.7,0,348.3v120.8v10h1920v-10V0
                                    C1715.4,15.3,1846.7,168.6,1562.5,260.9z"
              ></path>
            </svg>
          </div>
          <div class="team-content">
            <h3>Seragam Costum<span>PT Antam Tbk</span></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 padding-15">
        <div class="team-item">
          <div class="team-thumb">
            <img src="assets/img/klien5.png" alt="img" />
            <svg viewBox="0 0 1920 479.1">
              <path
                class="st0"
                fill="#fff"
                d="M1562.5,260.9c-284.2,92.3-282.6,324-778.9,108.7C304.8,161.9,19.5,335.7,0,348.3v120.8v10h1920v-10V0
                                    C1715.4,15.3,1846.7,168.6,1562.5,260.9z"
              ></path>
            </svg>
          </div>
          <div class="team-content">
            <h3>Seragam Costum<span>PAMJAKI</span></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 padding-15">
        <div class="team-item">
          <div class="team-thumb">
            <img src="assets/img/klien6.png" alt="img" />
            <svg viewBox="0 0 1920 479.1">
              <path
                class="st0"
                fill="#fff"
                d="M1562.5,260.9c-284.2,92.3-282.6,324-778.9,108.7C304.8,161.9,19.5,335.7,0,348.3v120.8v10h1920v-10V0
                                    C1715.4,15.3,1846.7,168.6,1562.5,260.9z"
              ></path>
            </svg>
          </div>
          <div class="team-content">
            <h3>Seragam Kampus<span>STIK Rustida</span></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 padding-15">
        <div class="team-item">
          <div class="team-thumb">
            <img src="assets/img/klien7.png" alt="img" />
            <svg viewBox="0 0 1920 479.1">
              <path
                class="st0"
                fill="#fff"
                d="M1562.5,260.9c-284.2,92.3-282.6,324-778.9,108.7C304.8,161.9,19.5,335.7,0,348.3v120.8v10h1920v-10V0
                                    C1715.4,15.3,1846.7,168.6,1562.5,260.9z"
              ></path>
            </svg>
          </div>
          <div class="team-content">
            <h3>Seragam Sekolah<span>YPI Baitut Taqwa</span></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 padding-15">
        <div class="team-item">
          <div class="team-thumb">
            <img src="assets/img/klien8.png" alt="img" />
            <svg viewBox="0 0 1920 479.1">
              <path
                class="st0"
                fill="#fff"
                d="M1562.5,260.9c-284.2,92.3-282.6,324-778.9,108.7C304.8,161.9,19.5,335.7,0,348.3v120.8v10h1920v-10V0
                                    C1715.4,15.3,1846.7,168.6,1562.5,260.9z"
              ></path>
            </svg>
          </div>
          <div class="team-content">
            <h3>Seragam Kerja<span>BirdNET</span></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 padding-15">
        <div class="team-item">
          <div class="team-thumb">
            <img src="assets/img/klien9.png" alt="img" />
            <svg viewBox="0 0 1920 479.1">
              <path
                class="st0"
                fill="#fff"
                d="M1562.5,260.9c-284.2,92.3-282.6,324-778.9,108.7C304.8,161.9,19.5,335.7,0,348.3v120.8v10h1920v-10V0
                                    C1715.4,15.3,1846.7,168.6,1562.5,260.9z"
              ></path>
            </svg>
          </div>
          <div class="team-content">
            <h3>Seragam Costum<span>HDS Foundation</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
