<section class="cta-section padding">
		<svg viewBox="0 0 1920 479.1">
			<path
				class="st0"
				fill="#f9fafa"
				d="M1562.5,260.9c-284.2,92.3-282.6,324-778.9,108.7C304.8,161.9,19.5,335.7,0,348.3v120.8v10h1920v-10V0
            C1715.4,15.3,1846.7,168.6,1562.5,260.9z"
			></path>
		</svg>
		<div class="container">
			<div class="cta-content">
				<img
					class="wow fadeInUp"
					data-wow-delay="0"
					src="assets/img/cleaning.png"
					alt="icon"
				/>
				<h2 class="wow fadeInUp" data-wow-delay="300ms">
					Siap temukan<br /> baju custom impianmu?
				</h2>
				<p class="wow fadeInUp" data-wow-delay="400ms">
					Lihat koleksi desain kami dan pilih yang paling cocok untuk acara
					spesial atau keseharianmu.
				</p>
				<div class="custom-btn-wrapper">
					<a
						href="https://api.whatsapp.com/send?phone=6281290279222&text=Hallo%20kak%20saya%20%5Bnama%5D%20ingin%20pesan%20baju%20costum%20di%20LMI%2C%20bisakah%20berikan%20saya%20info%20nya%3F"
						class="custom-btn reverse wow fadeInUp"
						data-wow-delay="500ms">Pesan Sekarang<span></span></a
					>
				</div>
			</div>
		</div>
	</section><!-- /.cta-section -->