<section class="faq-section padding">
  <div class="container">
    <div
      class="section-heading wow fadeInUp mb-40 text-center"
      data-wow-delay="200ms"
    >
      <img src="assets/img/clean.png" alt="img" />
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 padding-15">
        <div id="accordionLeft" role="tablist">
          <div class="acc-item active-acc">
            <h5 id="faq1">
              <a
                data-toggle="collapse"
                href="#collapse1"
                aria-expanded="true"
                aria-controls="collapse1"
              >
                Kalau saya belum punya desain, apakah bisa dibantu?</a
              >
            </h5>
            <div
              id="collapse1"
              class="show collapse"
              role="tabpanel"
              aria-labelledby="faq1"
              data-parent="#accordionLeft"
            >
              <div class="card-body">
                Tentu. Tim desain kami siap membuatkan atau memodifikasi desain
                sesuai ide yang Anda ceritakan.
              </div>
            </div>
          </div>
          <div class="acc-item">
            <h5 id="faq2">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse2"
                aria-expanded="false"
                aria-controls="collapse2"
                >Apakah bisa request bahan kain tertentu?
              </a>
            </h5>
            <div
              id="collapse2"
              class="collapse"
              role="tabpanel"
              aria-labelledby="faq2"
              data-parent="#accordionLeft"
            >
              <div class="card-body">
                Bisa. Kami punya banyak pilihan kain, dari katun lembut sampai
                bahan premium. Tinggal sebutkan preferensi, kami carikan yang
                pas.
              </div>
            </div>
          </div>
          <div class="acc-item">
            <h5 id="faq3">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse3"
                aria-expanded="false"
                aria-controls="collapse3"
                >Bagaimana cara ukur badan kalau pesan online?</a
              >
            </h5>
            <div
              id="collapse3"
              class="collapse"
              role="tabpanel"
              aria-labelledby="faq3"
              data-parent="#accordionLeft"
            >
              <div class="card-body">
                Kami kirim panduan ukuran lengkap dan mudah diikuti. Cukup ukur
                di rumah, kirim hasilnya, kami yang sesuaikan polanya.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-lg-6 padding-15">
        <div id="accordionRight" role="tablist">
          <div class="acc-item active-acc">
            <h5 id="faq4">
              <a
                data-toggle="collapse"
                href="#collapse4"
                aria-expanded="true"
                aria-controls="collapse4">Apakah bisa request desain sendiri?</a
              >
            </h5>
            <div
              id="collapse4"
              class="show collapse"
              role="tabpanel"
              aria-labelledby="faq4"
              data-parent="#accordionRight"
            >
              <div class="card-body">
                Tentu! Anda bisa kirim sketsa, foto referensi, atau hanya ide
                kasarnya saja. Tim kami akan bantu visualisasikan dan sesuaikan
                dengan bahan yang tersedia.
              </div>
            </div>
          </div>
          <div class="acc-item">
            <h5 id="faq5">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse5"
                aria-expanded="false"
                aria-controls="collapse5"
                >Apa bisa revisi jika hasil kurang pas?</a
              >
            </h5>
            <div
              id="collapse5"
              class="collapse"
              role="tabpanel"
              aria-labelledby="faq5"
              data-parent="#accordionRight"
            >
              <div class="card-body">
                Bisa. Kami menerima revisi ukuran atau penyesuaian kecil dengan
                syarat dan ketentuan berlaku. Tujuan kami adalah memastikan Anda
                puas dengan hasilnya.
              </div>
            </div>
          </div>
          <div class="acc-item">
            <h5 id="faq6">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse6"
                aria-expanded="false"
                aria-controls="collapse6">Kirim ke daerah saya??</a
              >
            </h5>
            <div
              id="collapse6"
              class="collapse"
              role="tabpanel"
              aria-labelledby="faq6"
              data-parent="#accordionRight"
            >
              <div class="card-body">
                Kami melayani pengiriman ke seluruh Indonesia dan internasional
                menggunakan jasa ekspedisi terpercaya. Anda akan menerima nomor
                resi untuk pelacakan.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.faq-section -->

<style>
  .faq-section {
  }

  .faq-section .col-md-3,
  .faq-section .col-md-6 {
    padding: 0;
  }

  .faq-box {
    padding: 80px 50px;
  }

  .faq-accordion {
    border-radius: 2px;
  }

  .faq-wrap {
    display: flex;
    align-items: center;
  }

  .faq-wrap .section-heading p {
    margin: 15px 0;
  }

  .acc-item {
    background-color: #fff;
    border: 0;
    border-radius: 0;
  }

  #accordion .acc-item:not(:last-of-type) {
  }

  .acc-item.active-acc {
  }

  .acc-item h5 {
    background-color: #fff;
    font-weight: 600;
    color: #162466;
    margin: 0;
    border-radius: 0;
    transition: background-color 0.3s linear;
  }

  .acc-item.active-acc h5 {
    background-color: transparent;
    transition: background-color 0.3s linear;
  }

  .acc-item h5 a {
    color: #13287c;
    display: block;
    padding: 20px 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
    border: 1px solid #eee;
  }

  .acc-item h5 a:focus {
    border: 1px solid #eee;
  }

  .acc-item h5 a:before {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #808291;
    transition: all 0.3s linear;
  }

  .active-acc h5 a:before {
    color: #13287c;
    content: "\f068";
    transition: all 0.3s linear;
  }

  .home-3-acc .active-acc h5 a:before {
    background-color: #36bba0;
  }

  .card-body {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  .collapse.show:focus,
  .card-body:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  .faq-bg {
    background-image: url(../img/faq-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .acc-item h5 a {
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .acc-item h5 a:hover {
    background-color: #f8f8f8;
    color: #0c1d6c;
  }
</style>
