<section class="testimonials-section padding">
		<div class="container">
			<div
				class="section-heading wow fadeInUp mb-40 text-center"
				data-wow-delay="200ms"
			>
				<img src="assets/img/clean.png" alt="" />
				<h2>Memahami Tujuan Klien,<br />Mewujudkan Bersama</h2>
				<p>
					Kami tidak hanya memberikan layanan, tetapi juga membantu Anda
					mencapai tujuan dengan solusi yang tepat dan personal.
				</p>
			</div>
			<div class="slider testimonials-carousel nav-style carousel-dots">
				<div class="testi-item">
					<div class="testi-inner">
						<img src="assets/img/testi-1.png" alt="thumb" />
						<h3>Nadya<span>Jakarta</span></h3>
						<ul class="ratings">
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
						</ul>
					</div>
					<p>
						"Jasa jahit custom terpercaya sejak 2011. Melayani pembuatan pakaian
						sesuai desain dan ukuran Anda, dengan hasil rapi dan bahan
						berkualitas."
					</p>
				</div>
				<div class="testi-item">
					<div class="testi-inner">
						<img src="assets/img/testi-2.png" alt="thumb" />
						<h3>Intan<span>Bandung</span></h3>
						<ul class="ratings">
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
						</ul>
					</div>
					<p>
						“Layanan konsultasinya ramah dan sabar. Aku cuma kasih referensi
						model dari Pinterest, langsung bisa dijahit mirip banget!”
					</p>
				</div>
				<div class="testi-item">
					<div class="testi-inner">
						<img src="assets/img/testi-3.png" alt="thumb" />
						<h3>Rizky<span>Yogyakarta</span></h3>
						<ul class="ratings">
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
							<li><i class="fas fa-star"></i></li>
						</ul>
					</div>
					<p>
						“Aku pesan seragam komunitas, hasilnya rapi dan dikirim tepat waktu.
						Harga juga bersahabat untuk kualitas sebagus ini.”
					</p>
				</div>
			</div>
		</div>
	</section><!-- /.testimonial-section -->