---
// src/pages/index.astro
import Layout from "../layouts/LMIlayout.astro";
---

<Layout title="Kontak LMI | Mitra Pengadaan Seragam No 1 di Indonesia">
  <div class="site-preloader-wrap">
    <div class="spinner"></div>
  </div>
  <!-- start -->

  <section class="page-header padding">
    <div class="container">
      <div class="page-content text-center">
        <h2>Material</h2>
        <p>
          Temukan jawaban dari pertanyaan umum seputar layanan kami. Mulai dari
          proses pemesanan, pengukuran, <br />hingga pengiriman — semua kami
          jelaskan di sini untuk memudahkan Anda.
        </p>
      </div>
    </div>
  </section><!-- /.page-header -->

  <section class="about-section padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 sm-padding">
          <div class="about-content">
            <div class="section-heading wow fadeInLeft" data-wow-delay="0">
              <h3>Material Berkualitas</h3>
              <p>
                Kami hanya menggunakan bahan pilihan yang nyaman di kulit, tahan
                lama, dan sesuai kebutuhan Anda. Mulai dari katun, linen,
                semi-wool, hingga kain premium untuk acara formal—semua bisa
                disesuaikan dengan model dan anggaran Anda.
              </p>
            </div>
            <ul class="about-list">
              <li class="wow fadeInLeft" data-wow-delay="200ms">
                <i class="fas fa-leaf"></i>
                <div class="about-list-content">
                  <h3>Katun (Cotton)</h3>
                  <p>
                    Bahan yang paling umum, terbuat dari serat kapas. Sifatnya
                    adem, menyerap keringat, dan nyaman di kulit. Cocok untuk
                    pakaian sehari-hari.
                  </p>
                </div>
              </li>
              <li class="wow fadeInLeft" data-wow-delay="400ms">
                <i class="fas fa-stream"></i>
                <div class="about-list-content">
                  <h3>Linen</h3>
                  <p>
                    Terbuat dari serat rami. Sangat kuat, sejuk, dan menyerap
                    keringat, namun sangat mudah kusut. Memberikan kesan kasual
                    dan elegan.
                  </p>
                </div>
              </li>
              <li class="wow fadeInLeft" data-wow-delay="400ms">
                <i class="fas fa-shield-alt"></i>
                <div class="about-list-content">
                  <h3>Poliester (Polyester)</h3>
                  <p>
                    Bahan sintetis yang kuat, tahan lama, tidak mudah kusut, dan
                    cepat kering. Namun, kurang menyerap keringat dibandingkan
                    katun.
                  </p>
                </div>
              </li>
              <li class="wow fadeInLeft" data-wow-delay="400ms">
                <i class="fas fa-gem"></i>
                <div class="about-list-content">
                  <h3>Sutra (Silk)</h3>
                  <p>
                    Bahan alami dari kepompong ulat sutra. Terkenal mewah,
                    lembut, dan berkilau. Membutuhkan perawatan khusus.
                  </p>
                </div>
              </li>
            </ul>
            <ul class="about-btn wow fadeInLeft" data-wow-delay="600ms">
              <li>
                <a
                  class="custom-btn"
                  href="https://api.whatsapp.com/send?phone=6281290279222&text=Hallo%20kak%20saya%20%5Bnama%5D%20ingin%20pesan%20baju%20costum%20di%20LMI%2C%20bisakah%20berikan%20saya%20info%20nya%3F"
                  target="_blank"
                  ><i class="fab fa-whatsapp"></i> Pesan Sekarang!<span
                  ></span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 sm-padding">
          <div class="about-bg-holder">
            <img src="assets/img/bahan.png" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
