---
import Layout from "../layouts/LMIlayout.astro";
---

<Layout
  title="Mitra Pengadaan Seragam No 1 di Indonesia | Lamonte Costum"
  description="Perusahaan ritel busana anak dengan desain unik dan berkualitas, fokus pada pengadaan seragam sekolah dan kebutuhan instansi."
>
  <section class="page-header padding">
    <div class="container">
      <div class="page-content text-center">
        <h2>
          Mitra Pengadaan Seragam No. 1 di Indonesia — Kualitas, Desain, dan
          Kenyamanan dalam Satu Paket
        </h2>
        <p>
          Solusi seragam lengkap dengan desain unik, bahan berkualitas, dan
          layanan tepat waktu.
        </p>
      </div>
    </div>
  </section>
</Layout>
