<a
  class="custom-btn"
  href="https://api.whatsapp.com/send?phone=6281290279222&text=Hallo%20kak%20saya%20[nama]%20ingin%20berkonsultasi%20untuk%20pembuatan%20baju,%20bisa%20bantu%20kak%3F"
  target="_blank"
>
  Hubungi Kami<span></span>
</a>
